.header {
    display: grid;
    max-height: 293px ;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 50px 98px;
    font-size: 18px;
    font-weight: 400;
  }
  
.header__menu {
    grid-column: 1 / span 1;
  }
  
.header__links-list {
    display: flex;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    white-space: nowrap;
}

.header__link_active {
    text-decoration: none;
}

  .header__logo {
    display: block;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    width: min-content;
    width: 148px;
    height: 105px;
  }

.header__logo-image {
    width: 100%;
}

.header__address {
    justify-self: end;
    
  } 

.address_item {
    display: block;
    text-underline-position: under;
    line-height: 1.35;
}



.cover {
    background-image: url('../images/cover.jpg');
}





